@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import url("slider.css");
@import url("styles.css");
@import url("components/scrollbar.css");


:root {
  --tblack: #121212;
  --white: #FFF9F9;
  --dark-gray: #252525;
  --light-gray: #4F4F4F;
  --tblack1: #141414;
  --tblack2: #161616;
}

/* Base styles - Used in all pages (home.html, lab.html, glyph.html, index.html) */
html,
body {
  font-family: "Epilogue", serif;
  background-color: var(--tblack);
  color: var(--white);
}


