/* Custom Scrollbar Styles */

/* Apply to all elements */


/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tblack); 
  border-left: 2px solid var(--dark-gray);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--light-gray);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-gray); 
}

::-webkit-scrollbar-button {
  display: none;
}